# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
venv/
env/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
